header,footer{
    background-color: rgb(111, 192, 100);
}
.col-md-6{
    background-color:white;
}
.col-md-4{
    background-color: rgb(202, 238, 208);
} 
.col-md-2{
    background-color: rgb(166, 226, 176);
} 

footer{
    font-size:smaller;
    text-align: center;
}
ul li a{
    color: rgb(6, 184, 6);
}

nav{
    background-color: blue;
}
